extends  ../_skeleton

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Accordions'

block page 
	// Page Header
	include ../sections/_header-minimal

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})

	// Accordion & skill bars
	section.section.section-lg
		.container
			h6 Accordion & skill bars
			include ../includes/_row-accordion-skill-bars

	// Accordion & photo
	section.section.section-md
		.container
			h6 Accordion & photo
			include ../includes/_row-accordion-and-photo

	// Page Footer
	include ../sections/_footer-standard
	+footer-standard({
		about: 'R&CO company is a diversified global architecture company that brings the best designers and architects together. We have been offering great design solutions to individual and corporate customers worldwide since the late 1990s.'
	})