extends  ../_skeleton

//- Includes
include ../components/_ui-career-classic

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Careers'

block page 
	// Page Header
	include ../sections/_header-minimal

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})

	// Working at CaseCraft
	section.section.section-lg
		.container
			.row.row-50.justify-content-center.justify-content-lg-between.flex-lg-row-reverse
				.col-md-10.col-lg-6.col-xl-5
					h3 Working at R&CO
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat officia deserunt mollit anim id est laborum.
					a.button.button-lg.button-primary.button-winona(href='about-us.html') Learn more

				.col-md-10.col-lg-6.col-xl-6
					+jpg('careers-1-570x368', 'img-responsive')

	// Available Vacancies
	section.section.section-lg.bg-gray-100.text-center
		.container
			h3 Available Vacancies
			.row.row-45
				.col-md-6.col-lg-4
					+career-classic({
						title: 'Interior Designer',
						list: [
							{ iconClass: 'mdi mdi-calendar-clock', text: 'Full Time' },
							{ iconClass: 'mdi mdi-map-marker', text: 'San Diego' }
						]
					})
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do labore et dolore magna aliqua. Ut enim ad minim veniamut aliquip ex ea commodo consequat.

				.col-md-6.col-lg-4
					+career-classic({
						title: 'Project Architect',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do labore et dolore magna aliqua. Ut enim ad minim veniamut aliquip ex ea commodo consequat.

				.col-md-6.col-lg-4
					+career-classic({
						title: '3D Modeler',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do labore et dolore magna aliqua. Ut enim ad minim veniamut aliquip ex ea commodo consequat.

				.col-md-6.col-lg-4
					+career-classic({
						title: 'Project Manager',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do labore et dolore magna aliqua. Ut enim ad minim veniamut aliquip ex ea commodo consequat.

				.col-md-6.col-lg-4
					+career-classic({
						title: 'Landscape/Exterior Designer',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do labore et dolore magna aliqua. Ut enim ad minim veniamut aliquip ex ea commodo consequat.

				.col-md-6.col-lg-4
					+career-classic({
						title: 'Office Manager',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do labore et dolore magna aliqua. Ut enim ad minim veniamut aliquip ex ea commodo consequat.


			a.button.button-lg.button-primary.button-winona(href='#') Join Us

	// Thin CTA
	include ../sections/_section-thin-cta

	// Page Footer
	include ../sections/_footer-standard
	+footer-standard({
		about: 'R&CO company is a diversified global architecture company that brings the best designers and architects together. We have been offering great design solutions to individual and corporate customers worldwide since the late 1990s.'
	})
