extends  ../_skeleton
include ../components/progress-linear
include ../components/countdown

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Progress Bars'

block page  
	// Page Header
	include ../sections/_header-minimal

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})

	// Skill Bars 
	section.section.section-lg
		.container
			.row.row-50
				.col-md-10.col-lg-6.col-xl-5
					h6 Skill Bars
					+progress-linear({
						title: 'Dedication',
						value: '90'
					})

					+progress-linear({
						title: 'Knowledge',
						value: '65'
					})

					+progress-linear({
						title: 'Professionalism',
						value: '100'
					})

					+progress-linear({
						title: 'Experience',
						value: '75'
					})

	.container
		h6 Countdown

	// Countdown
	+parallax({
		img: 'parallax-1'
	}).section-lg.bg-gray-800
		.container
			+countdown({ to: '2023-04-07' })

	// Page Footer
	include ../sections/_footer-standard
	+footer-standard({
		about: 'R&CO company is a diversified global architecture company that brings the best designers and architects together. We have been offering great design solutions to individual and corporate customers worldwide since the late 1990s.'
	})
