extends  ../_skeleton

//- Includes
include ../components/_ui-progress-bar-linear
include ../components/_ui-career-classic

block variables
	- var activeCategory = 'services'
	- var pageName = 'Services'

block page 
	// Page Header
	include ../sections/_header-minimal

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})
	// Services
	section.section.section-lg.text-center
		.container
			h3.wow-outer: span.wow.slideInUp Services
			.row.row-50
				.col-sm-6.col-lg-4.wow-outer
					// Box Creative
					article.box-creative.wow.slideInLeft
						.box-creative-icon.linearicons-lamp
						h4.box-creative-title: a(href='single-service.html') Interior/Exterior Design
						p We combine Interior and Exterior Design services and often provide them as a single solution. It helps us strengthen the creation of truly unique spaces.

				.col-sm-6.col-lg-4.wow-outer
					// Box Creative
					article.box-creative.wow.slideInLeft(data-wow-delay='.1s')
						.box-creative-icon.linearicons-compass
						h4.box-creative-title: a(href='single-service.html') Pre-Design
						p Our pre-design solutions include analysis and planning services that help both the client and architects to work out the forthcoming project.

				.col-sm-6.col-lg-4.wow-outer
					// Box Creative
					article.box-creative.wow.slideInLeft(data-wow-delay='.2s')
						.box-creative-icon.linearicons-3d-rotate
						h4.box-creative-title: a(href='single-service.html') 3D Modeling
						p We offer comprehensive Architectural Engineering Services including Interior design, Master planning, 3D modeling, working drawings, and documentation.

				.col-sm-6.col-lg-4.wow-outer
					// Box Creative
					article.box-creative.wow.slideInLeft
						.box-creative-icon.linearicons-pencil3
						h4.box-creative-title: a(href='single-service.html') Architecture Engineering
						p We provide a range of architectural 3D modeling services to our customers to aid the design, planning and visualization phase of construction projects.

				.col-sm-6.col-lg-4.wow-outer
					// Box Creative
					article.box-creative.wow.slideInLeft(data-wow-delay='.1s')
						.box-creative-icon.linearicons-hammer-wrench
						h4.box-creative-title: a(href='single-service.html') Project Management
						p Project management is the process by which our team plans and executes your project.  We will develop it using the best possible approach.

				.col-sm-6.col-lg-4.wow-outer
					// Box Creative
					article.box-creative.wow.slideInLeft(data-wow-delay='.2s')
						.box-creative-icon.linearicons-bubble-text
						h4.box-creative-title: a(href='single-service.html') Consultations
						p Our team also provides consultations on all architectural issues, even if you need specific info about working on interior renovation or exterior design tasks.

	// Page Footer
	include ../sections/_footer-standard
	+footer-standard({
		about: 'R&CO company is a diversified global architecture company that brings the best designers and architects together. We have been offering great design solutions to individual and corporate customers worldwide since the late 1990s.'
	})
