extends  ../_skeleton

//- Includes
include ../components/_ui-career-classic

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Single Job'

block page 
	// Page Header
	include ../sections/_header-minimal

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})

	// A Few Words About Us
	section.section.section-lg
		.container
			.row.row-50.justify-content-center.justify-content-lg-between.align-items-center.align-items-xl-start
				.col-md-10.col-lg-6.col-xl-5
					h3 Project Manager
					// Bootstrap tabs
					#tabs-1.tabs-custom.tabs-horizontal.tabs-line
						// Nav tabs
						ul.nav.nav-tabs
							li.nav-item(role='presentation'): a.nav-link.active(href='#tabs-1-1' data-bs-toggle='tab') Description
							li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-2' data-bs-toggle='tab') Demands
							li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-3' data-bs-toggle='tab') Conditions

						// Tab panes
						.tab-content
							div#tabs-1-1.tab-pane.fade.show.active
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							div#tabs-1-2.tab-pane.fade
								ul.list-marked
									li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									li Lorem ipsum dolor sit amet, consectetur adipiscing elit.

							div#tabs-1-3.tab-pane.fade
								ul.list-marked
									li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									li Lorem ipsum dolor sit amet, consectetur adipiscing elit.

					a.button.button-primary.button-winona(href='#') Send CV

				.col-md-10.col-lg-6
					+jpg('single-job-1-570x400', 'img-responsive')

	// Current Job Positions
	section.section.section-lg.bg-gray-100.text-center
		.container
			h3 Current Job Positions
			.row.row-45
				.col-md-6.col-lg-4
					+career-classic({
						title: '3D Modeler',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-md-6.col-lg-4
					+career-classic({
						title: 'Interior Designer',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.col-md-6.col-lg-4
					+career-classic({
						title: 'Project Architect',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

			a.button.button-lg.button-primary.button-winona(href='careers.html') Join Us

	// Page Footer
	include ../sections/_footer-standard
	+footer-standard({
		about: 'R&CO company is a diversified global architecture company that brings the best designers and architects together. We have been offering great design solutions to individual and corporate customers worldwide since the late 1990s.'
	})
