include ../components/_ui-thumbnail-corporate

.isotope.offset-top-2(data-isotope-layout='masonry')
	.row.row-30
		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-1-370x256',
				link: 'single-project.html',
				title: 'History Museum',
				text: 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.'
			}).wow.slideInDown

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-2-370x464',
				link: 'single-project.html',
				title: 'West Entertainment Center',
				text: 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.'
			}).thumbnail-corporate-lg.wow.slideInDown

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-3-370x256',
				link: 'single-project.html',
				title: 'The Edwards Lodge',
				text: 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.'
			}).wow.slideInUp

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-4-370x464',
				link: 'single-project.html',
				title: 'Finn Ltd. Headquarters',
				text: 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.'
			}).thumbnail-corporate-lg.wow.slideInUp

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-6-370x464',
				link: 'single-project.html',
				title: 'Modern Art Gallery',
				text: 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.'
			}).thumbnail-corporate-lg.wow.slideInDown

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-5-370x256',
				link: 'single-project.html',
				title: 'San Diego Water Club',
				text: 'We deliver reliable architectural solutions to our individual and corporate clients throughout the USA.'
			}).wow.slideInDown
