.pricing-group-modern.wow-outer
	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft.text-center
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='single-service.html') Small Business
		table.pricing-modern-table
			tr
				td Interior Design
			tr
				td Exterior Design
			tr
				td Architecture Engineering

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 789.00

		a.button.button-primary.button-winona(href='single-service.html') Order Now

	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft(data-wow-delay='.05s')
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='single-service.html') Medium Business
		table.pricing-modern-table
			tr
				td 3D Modeling
			tr
				td Interior Planning
			tr
				td BIM

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 1299.00
	
		a.button.button-primary.button-winona(href='single-service.html') Order Now

	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft(data-wow-delay='.1s')
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='single-service.html') Big Business
		table.pricing-modern-table
			tr
				td Free Consultations
			tr
				td Remodeling
			tr
				td Project Management

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 2369.00

		a.button.button-primary.button-winona(href='single-service.html') Order Now

	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft(data-wow-delay='.15s')
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='single-service.html') Corporation
		table.pricing-modern-table
			tr
				td Pre-Design
			tr
				td Space Planning
			tr
				td Construction Observation

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 6790.00

		a.button.button-primary.button-winona(href='single-service.html') Order Now
