mixin footer-standard(obj)
	footer.section.footer-standard.bg-darken
		.footer-standard-main
			.container
				.row.row-50
					.col-lg-4: .inset-right-1
						h5.font-condensed.text-uppercase.text-white.fw-bold About Us
						p=obj.about 
	
					.col-sm-6.col-md-5.col-lg-4: .box-1
						h5.font-condensed.text-uppercase.text-white.fw-bold Contact Information
						ul.list-sm
							li.object-inline
								span.icon.icon-md.mdi.mdi-map-marker.text-white
								a.link-default(href='#') 2130 Fulton Street #[br] San Diego, CA 94117-1080 USA
	
							li.object-inline
								span.icon.icon-md.mdi.mdi-phone.text-white
								a.link-default(href='tel:#') 1-800-1234-567
	
							li.object-inline
								span.icon.icon-md.mdi.mdi-email.text-white
								a.link-default(href='mailto:#') info@demolink.org
	
					.col-sm-6.col-md-7.col-lg-4
						h5.font-condensed.text-uppercase.text-white.fw-bold Newsletter
						p Sign up to our newsletter and be the first to know about the latest news, special offers, events, and discounts.
						// RD Mailform
						form.rd-form.rd-mailform.form-inline(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
							.form-wrap
								input.form-input(id="subscribe-form-2-email" type="email" name="email" data-constraints="@Email @Required")
								label.form-label(for="subscribe-form-2-email") E-mail
							.form-button
								button.button.button-primary.button-icon.button-icon-only.button-winona(type="submit" aria-label='submit')
									span.icon.mdi.mdi-email-outline
	
	
		.container
			.footer-standard-aside
				a.brand(href='index.html')
					+png(logo.light.trueSize)(srcset='images/' + logo.light.retina + '.png 2x')
				+rights
