- navbarCounter++

header.section.page-header
	// RD Navbar
	.rd-navbar-wrap
		nav.rd-navbar.rd-navbar-minimal(
		data-layout=                'rd-navbar-fixed'
		data-sm-layout=             'rd-navbar-fixed'
		data-md-layout=             'rd-navbar-fixed'
		data-md-device-layout=      'rd-navbar-fixed'
		data-lg-layout=             'rd-navbar-static'
		data-lg-device-layout=      'rd-navbar-fixed'
		data-xl-layout=             'rd-navbar-static'
		data-xl-device-layout=      'rd-navbar-static'
		data-xxl-layout=            'rd-navbar-static'
		data-xxl-device-layout=     'rd-navbar-static'
		data-lg-stick-up-offset=    '46px'
		data-xl-stick-up-offset=    '46px'
		data-xxl-stick-up-offset=   '46px'
		data-lg-stick-up=           'true'
		data-xl-stick-up=           'true'
		data-xxl-stick-up=          'true')
			.rd-navbar-main-outer
				.rd-navbar-main
					// RD Navbar Panel
					.rd-navbar-panel
						// RD Navbar Toggle
						button.rd-navbar-toggle(data-rd-navbar-toggle='#rd-navbar-nav-wrap-' + navbarCounter): span

						// RD Navbar Brand
						a.rd-navbar-brand(href='index.html')
							+png(logo.default.trueSize)(srcset='images/' + logo.default.retina + '.png 2x')

					.rd-navbar-main-element
						.rd-navbar-nav-wrap(id='rd-navbar-nav-wrap-' + navbarCounter)
							include ../includes/_navigation

						// RD Navbar Search
						.rd-navbar-search(id='rd-navbar-search-' + navbarCounter)
							button.rd-navbar-search-toggle.rd-navbar-fixed-element-2(data-rd-navbar-toggle='#rd-navbar-search-' + navbarCounter): span
							form.rd-search(action='search-results.html' data-search-live='rd-search-results-live-' + navbarCounter, method='GET')
								.form-wrap
									label.form-label(for='rd-navbar-search-form-input-' + navbarCounter) Search...
									input.form-input(class='rd-navbar-search-form-input' id='rd-navbar-search-form-input-' + navbarCounter, type='text' name='s' autocomplete="off")
									.rd-search-results-live(id='rd-search-results-live-' + navbarCounter)
								button.rd-search-form-submit.fa-search(type='submit')
