section.section.section-lg.bg-gray-lighten#our-history
	.container
		// Timeline Classic
		article.timeline-classic
			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-1-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					time.black-timeline.wow-outer.slideInDown.text-uppercase(datetime='2022'): span.font-condensed.wow(data-caption-animate='slideInDown' data-wow-delay=".5	s") April 2014
					p.timeline-classic-item-title Apex Hotel
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-2-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					time.black-timeline.wow-outer.slideInDown.text-uppercase(datetime='2022'): span.font-condensed.wow(data-caption-animate='slideInDown' data-wow-delay=".5	s") May 2015
					p.timeline-classic-item-title The Edwards Lodge
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-3-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					time.black-timeline.wow-outer.slideInDown.text-uppercase(datetime='2022'): span.font-condensed.wow(data-caption-animate='slideInDown' data-wow-delay=".5	s") March 2017
					p.timeline-classic-item-title Atlanta Child Care Center
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-4-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					time.black-timeline.wow-outer.slideInDown.text-uppercase(datetime='2022'): span.font-condensed.wow(data-caption-animate='slideInDown' data-wow-delay=".5	s") December 2022
					p.timeline-classic-item-title Los Angeles Art Gallery
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
