section.section.section-lg.bg-gray-100
	.container
		.row.row-30
			.col-sm-6.col-lg-4.wow-outer
				// Box Minimal
				article.box-minimal
					.box-minimal-icon.linearicons-mustache-glasses.wow.fadeIn
					.box-minimal-main.wow-outer
						h4.box-minimal-title.wow.slideInDown Qualified Employees
						p.wow.fadeInUpSmall Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

			.col-sm-6.col-lg-4.wow-outer
				// Box Minimal
				article.box-minimal
					.box-minimal-icon.linearicons-bubble-text.wow.fadeIn(data-wow-delay='.1s')
					.box-minimal-main.wow-outer
						h4.box-minimal-title.wow.slideInDown(data-wow-delay='.1s') Free Consultations
						p.wow.fadeInUpSmall(data-wow-delay='.1s') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

			.col-sm-6.col-lg-4.wow-outer
				// Box Minimal
				article.box-minimal
					.box-minimal-icon.linearicons-medal-empty.wow.fadeIn(data-wow-delay='.2s')
					.box-minimal-main.wow-outer
						h4.box-minimal-title.wow.slideInDown(data-wow-delay='.2s') 100% Guaranteed
						p.wow.fadeInUpSmall(data-wow-delay='.2s') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
