section.section.section-lg
	.container
		.row.row-50.justify-content-center.justify-content-lg-between.flex-lg-row-reverse
			.col-lg-6.col-xl-5: .inset-right-3
				h3.font-condensed.wow-outer: span.wow.slideInDown A Few Words About Us
				p.font-condensed.heading-subtitle.wow-outer: span.wow.slideInDown(data-wow-delay='.05s') R&CO is a team of highly talented, experienced, and award-winning architects and designers.
				p.font-roboto.wow-outer: span.wow.slideInDown(data-wow-delay='.1s') Our company has been the leading provider of architecture services to clients throughout the USA since 1999. We pay attention to every demand of our customers.
				.wow-outer.button-outer
					a.button.button-lg.button-black-outline.button-winona.wow.slideInDown(data-wow-delay='.1s' href='about-us.html') Read more
					
			.col-lg-6
				.svg-box.wow.slideInDown(style='background-image:url(images/box-expiriens.png)')
					.svg-box-content
						svg.expiriens
							defs
								mask(id="mask" x="0" y="0" width="100%" height="100%")
									rect(id="alpha" x="0" y="0" width="100%" height="100%")
									text(id="title" x="50%" y="0" dy="1.25em") 19

							rect#base(x='0', y='0', width='100%', height='100%')
						span.box-subtitle Years of experience