section.section.section-lg.text-center
	.container
		h3.wow-outer: span.wow.slideInUp Our Team
		.row.row-50.row-xxl-70.justify-content-center.justify-content-lg-start
			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft
					figure.profile-creative-figure: +jpg('team-5-370x368', 'profile-creative-image')
					.profile-creative-main
						h5.profile-creative-title: a(href='#') Sam Williams
						p.profile-creative-position Landscape Designer
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a(href='tel:#') 1-800-1324-567
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft(data-wow-delay='.2s')
					figure.profile-creative-figure: +jpg('team-2-370x368', 'profile-creative-image')
					.profile-creative-main
						h5.profile-creative-title: a(href='#') Ann Payne
						p.profile-creative-position Senior Architect
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a(href='tel:#') 1-800-1324-567
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft
					figure.profile-creative-figure: +jpg('team-6-370x368', 'profile-creative-image')
					.profile-creative-main
						h5.profile-creative-title: a(href='#') Kate Wilson
						p.profile-creative-position Project Manager
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a(href='tel:#') 1-800-1324-567
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft(data-wow-delay='.2s')
					figure.profile-creative-figure: +jpg('team-3-370x368', 'profile-creative-image')
					.profile-creative-main
						h5.profile-creative-title: a(href='#') Nathan Porter
						p.profile-creative-position Interior Designer
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a(href='tel:#') 1-800-1324-567
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

		.wow-outer.button-outer
			a.button.button-lg.button-primary.button-winona.wow.slideInUp(href='#') View all Team
