section.section.section-lg.text-center
	.container
		h3.wow-outer: span.wow.slideInUp Latest Job Positions
		p.wow-outer: span.text-width-1.wow.slideInDown Browse the recent vacancies added by companies from all over the USA. Our database is updated every hour with hundreds of new job positions, which might interest you.
		.table-responsive.wow.fadeIn
			table.table.table-hover.table-job-positions
				thead
					tr
						th
						th Date
						th Company
						th Job Vacancy
						th City
						th Salary
						th Employment

				tbody
					tr
						td
						td: time(datetime='2022') Apr 27, 2017
						td: +png('logo-john-brad-72x48')
						td.position Interior Designer
						td New York
						td $6000
						td Full Time 

					tr
						td: span.icon.icon-md.text-danger.mdi.mdi-fire
						td: time(datetime='2022') Apr 27, 2017
						td: +png('logo-the-oldbrand-62x48')
						td.position Project Architect
						td San Francisco
						td $5500
						td Full Time

					tr
						td
						td: time(datetime='2022') Apr 27, 2017
						td: +png('logo-havana-cabana-72x48')
						td.position 3D Modeler
						td Chicago
						td $6000
						td Full Time

					tr
						td
						td: time(datetime='2022') Apr 27, 2017
						td: +png('logo-john-brad-72x48')
						td.position Project Manager
						td New York
						td $4000
						td Full Time

					tr
						td
						td: time(datetime='2022') Apr 27, 2017
						td: +png('logo-the-oldbrand-62x48')
						td.position Landscape/Exterior Designer
						td Boston
						td $5500
						td Full Time

					tr
						td
						td: time(datetime='2022') Apr 27, 2017
						td: +png('logo-john-brad-72x48')
						td.position Office Manager
						td San Diego
						td $6000
						td Full Time

	.wow-outer.button-outer
		a.btn-media-size.button.button-md.button-primary-outline.button-winona.wow.slideInUp(href='careers.html') View all Job Positions
